html{
    background-color: #FFF4C9;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.redLine img{
    height: 180px;
}

.heading{
    font-family: "Reddit Mono", sans-serif;
    height: fit-content;
    margin-top:20px;
    padding: 20px 30px 20px 50px;
    color: #A44A3F;
    font-size: 25px;
    border-top: 1px solid #1E1E1E;
    border-bottom: 1px solid #1E1E1E;
    border-right: 1px solid #1E1E1E;
    box-shadow: 0 1px 5px rgba(0,0,0,0.23);
    z-index: 10;
    background-color: #FFFAE6;
    text-align:  left;

}

.projectItem{
    margin: 50px 20px;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.projectDescription{
    font-family: "Reddit Mono", Arial, serif;
    font-weight: 500;
    text-align: justify;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.projectDescription ul {
    padding-left: 1rem;
    margin: 0;
}

.projectDescription li {
    margin-left: 0;
}

.projectDescription a {
    color: #A44A3F;
    text-decoration: none;
}

/* Mobile responsive...kinda */
@media (max-width: 1000px){
    .heading{
        font-size: 20px;
    }
    .projectDescription{
        padding-top: 20px;
        padding-bottom: 20px;

    }
    .redLine img{
        height: 120px;
    }
}





