@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;

}
.page-container{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.background {
  background-color: #FFF4C9;
  position: absolute;
  left: 0;
  display: block;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  margin: 0;
  padding: 0;
  z-index: -1;
}
